<app-navi></app-navi>

<div class="container" style="margin-top: 100px; position: relative;" *ngIf="isAuthenticated==true">
    <div class="row">
        <div class="col-md-3">
            <app-brand></app-brand>
        </div>
        <div class="col-md-9">
            <!-- <app-car></app-car> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div style="align-self: center; margin-top: 10%; margin-left: 25%; margin-right: 25%;" *ngIf="isAuthenticated==false">
    
    <app-login></app-login>


</div>

<br><br>

<div style="text-align:end;">
    <hr class="row">


    <div align="center" style="font-size:small;">
        <strong>&copy; Copyright-2021 - Rent a Car Project - Ömer Taylan Alparslan</strong>
        <br><br>
    </div>
</div>